[program:{{ sv_program_name }}]
user={{ sv_user_name }}
umask={{ sv_umask }}
command={{ sv_command }}
autostart={{ sv_autostart }}
autorestart={{ sv_autorestart }}
stderr_logfile={{ sv_stderr_logfile }}
stdout_logfile={{ sv_stdout_logfile }}
environment={{ sv_environment }}